In [1]:
import numpy as np
import pandas as pd

In [2]:
data = pd.read_csv("training.txt", header = None, names = ['Location', 
                                                           'MinTemp', 
                                                           'MaxTemp', 
                                                           'Rainfall', 
                                                           'Evaporation', 
                                                           'Sunshine', 
                                                           'WindGustDir', 
                                                           'WindGustSpeed', 
                                                           'WindDir9am', 
                                                           'WindDir3pm', 
                                                           'WindSpeed9am', 
                                                           'WindSpeed3pm', 
                                                           'Humidity9am', 
                                                           'Humidity3pm', 
                                                           'Pressure9am', 
                                                           'Pressure3pm', 
                                                           'Cloud9am', 
                                                           'Cloud3pm', 
                                                           'Temp9am',
                                                           'Temp3pm', 
                                                           'RainToday', 
                                                           'RainTomorrow'])

In [3]:
data.head(10)

,0,1,2,3,4,5,6,7,8,9,...,12,13,14,15,16,17,18,19,20,21
0,NorfolkIsland,15.6,21.4,4.6,4.2,5.7,ENE,39.0,ENE,NE,...,80.0,71.0,1022.8,1021.2,7.0,4.0,18.8,20.3,Yes,Yes
1,Cairns,18.6,29.6,0.0,7.8,11.1,SE,35.0,S,ESE,...,58.0,43.0,1017.2,1012.9,1.0,1.0,25.0,28.6,No,No
2,Perth,21.3,35.7,0.0,9.6,8.9,N,48.0,NE,NNE,...,29.0,18.0,1014.9,1012.2,7.0,6.0,28.7,34.9,No,No
3,Portland,9.6,20.5,0.2,3.6,0.5,N,52.0,N,NNW,...,69.0,36.0,1014.8,1009.9,1.0,5.0,12.8,20.1,No,Yes
4,Darwin,24.3,32.7,0.0,4.0,10.9,NE,28.0,ENE,NNE,...,80.0,55.0,1012.8,1009.3,3.0,3.0,27.6,32.1,No,No
5,SydneyAirport,19.5,31.7,0.0,9.0,12.4,NE,67.0,N,NE,...,51.0,38.0,1013.8,1009.9,1.0,1.0,25.8,31.1,No,Yes
6,Moree,22.7,34.4,5.4,7.2,13.1,SE,43.0,NE,ESE,...,69.0,46.0,1015.7,1012.8,2.0,5.0,27.0,33.3,Yes,No
7,Mildura,11.9,27.2,0.0,4.0,5.0,WNW,54.0,NNE,NNE,...,69.0,38.0,1015.3,1010.9,1.0,7.0,18.4,25.9,No,Yes
8,Cobar,24.8,40.8,0.0,13.4,11.3,SE,30.0,W,SSE,...,34.0,16.0,1012.9,1009.8,5.0,3.0,30.1,38.9,No,No
9,MountGambier,10.2,12.5,25.2,3.0,0.0,SSW,52.0,SE,SE,...,96.0,96.0,1011.5,1005.7,8.0,8.0,10.3,11.1,Yes,Yes